<nav>
  <ul>
    <li>{{link-to "page-1" "page-1"}}</li>
    <li>{{link-to "page-2" "page-2"}}</li>
    <li>{{link-to "page-3" "page-3"}}</li>
  </ul>
</nav>


<button class="my-button">Hit me!</button>
<button class="my-button">Clic moi !</button>

{{outlet}}

